<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>p5.js</title>

    <meta name="description" content="p5.js on Glitch" />

    <link href="/style.css" rel="stylesheet" type="text/css" />
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.1/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.1/addons/p5.dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.1/addons/p5.sound.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
      type="text/javascript"
    ></script>
    <script src="/sketch.js"></script>
  </head>

  <body>
    <div class="form-container">
      <form id="submit-container">
        <input
          id="uid"
          class="input"
          type="text"
          name="username"
          placeholder="userId*"
        />
        <input
          id="score"
          type="text"
          class="score"
          name="score"
          placeholder="score*"
          readonly
        />
        <input type="submit" value="Submit" class="input" id="submit" />
        <input type="submit" value="Ranking" class="input" id="rank" />
      </form>
    </div>
    <div id="rank-container">
      <table id="rank-table" style="width:100%">
        <tr>
          <th>Rank#</th>
          <th>User Name</th>
          <th>Score</th>
        </tr>
      </table>
    </div>

    <!--      <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>This is a small modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div> -->
  </body>

  <script>
    $(document).ready(function() {
      var table = document.getElementById("rank-table");
      $("#submit").on("click", function(event) {
        $.ajax({
          url: "/api",
          type: "POST",
          dataType: "json",
          data: {
            username: $("#uid").val(),
            score: $("#score").val()
          }
        }).done(function(data) {
          console.log(data);
          if (data.err) {
            console.log(data.err);
            alert(data.err);
          } else if (data.message) {
            console.log(data.message);
            alert(data.message);
            $("#result").html(data.message);
          }
        });
        event.preventDefault();
      });
      $("#rank").on("click", function() {
        $.ajax({
          url: "/api/rank/result",
          type: "GET",
          dataType: "json"
        }).done(function(data) {
          console.log(data);
          for (var i=0;i<data.length;i++){
            table_headers = "<tr>";
            tdElement =  document.createElement("tr");
            table_headers = table_headers + "<td>" + (i+1) + "</td>" + "<td>" + data[i].Name + "</td>" + "<td>" + data[i].score + "</td>" + "</tr>";
            tdElement.innerHTML = table_headers;
            table.appendChild(tdElement);
          }
          $("#submit-container").remove();
          $("#rank-container").show();
        });
        event.preventDefault();
      });
    });
  </script>
</html>
